<configuration>
    <!-- Sets what the application needs to do
    It can be:
      - video - show video stream, mark circles which contain minimal value of blue color
      - collect - find circles which contain minimal value of blue color and save it ti disk
      - quiet_collect - same made without GUI
      - learning - make models using collected images
      - detection - detect road signs, print result on window and to log
      - quiet_detection - same mode without GUI -->
    <mode>detection</mode>
    <gui>
        <show_extra_windows>true</show_extra_windows>
    </gui>
    <!--for color detect (HSV)-->
    <hsv_filtering>
        <blue>
            <!--0…179 (Hue)-->
            <low_h>85</low_h>
            <high_h>160</high_h>
            <!--0…255 (Saturation)-->
            <low_s>127</low_s>
            <high_s>255</high_s>
            <!--0…255 (Value)-->
            <low_v>127</low_v>
            <high_v>255</high_v>
            <!--for blue road signs-->
        </blue>
    </hsv_filtering>
    <video>
        <video_input_source_number>1</video_input_source_number>
    </video>
    <hough_circle_transform_parametrs>
        <dp>2.1</dp>
        <min_dist>25</min_dist>
        <p1>200</p1>
        <p2>100</p2>
        <!--Caution! Min radius in not smaller then 15 -->
        <min_radius>15</min_radius>
        <max_radius>160</max_radius>
    </hough_circle_transform_parametrs>
    <detection>
        <!--<threshold>220</threshold>-->
        <!--the ratio of non zero pixels to zero pixels from monochrome image.
        if it higher then this value then image will go on to detection -->
        <ratio_nonzeros_to_zeros>2</ratio_nonzeros_to_zeros>
    </detection>
    <ml>
        <base_directory>ml_data</base_directory>
        <!-- To train your fully connected network put originals to directories in originals_subdirectory.
         Directories must be named as road signs, i.e. forward_only, right_turn_only, left_turn_only, stop, etc...-->
        <originals_subdirectory>originals</originals_subdirectory>
        <threshold>300000</threshold>
    </ml>
    <files>
        <road_sign_samples_directory>samples/</road_sign_samples_directory>
        <!-- note: the logfile can be /dev/stdout (on unix/linux) -->
        <logfile>/dev/stdout</logfile>
        <!--loglevel must be: none, fatal, error, warning, info, debug or verbose -->
        <loglevel>verbose</loglevel>
        <output_directory>output/</output_directory>
        <save_test_images>false</save_test_images>
    </files>
    <serial_connection>
        <port>"/dev/ttyACM0"</port>
        <fake>true</fake>
    </serial_connection>
</configuration>